.website-page {
  .ant-form {
    margin-top: 10px;
    width: 600px;
  }
  .ant-tabs-nav-wrap {
    background-color: #fff;
  }
  .ant-tabs-tab {
    text-align: center;
    padding: 15px 30px;
    margin: 0;
  }
  .ant-tabs-tabpane {
    background-color: #fff;
    padding: 30px;
  }
}
