.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e8e8e8 url(../../assets/image/login-bg.png) no-repeat center / cover;
  form {
    width: 400px;
    padding-bottom: 100px;
  }
  h1 {
    text-align: center;
  }
  .captcha-item {
    display: flex;
    justify-content: space-between;
    .ant-form-item {
      flex: 1;
      margin-right: 20px;
    }
    .ant-spin-nested-loading,
    img {
      width: 160px;
      height: 40px;
      background: #eee;
      cursor: pointer;
    }
  }
}
