@import '@/assets/style/theme.scss';

.not-found-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrap {
    display: flex;
    .image {
      width: 600px;
    }
    .text {
      width: 300px;
      padding: 30px 0;
      .oops {
        font-size: 32px;
        font-weight: bold;
        line-height: 40px;
        color: $c-main;
      }
      .headline {
        font-size: 20px;
        color: #222;
        font-weight: bold;
        padding: 20px 0 10px 0;
      }
      .info {
        font-size: 13px;
        color: grey;
        padding-bottom: 20px;
      }
    }
  }
}
